<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Check.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <applicationSettings>
        <Check.Properties.Settings>
            <setting name="Check_sutherlandsmbpov_ServiceNow_u_poc_snf" serializeAs="String">
                <value>https://sutherlandsmbpov.service-now.com/u_poc_snf.do?SOAP</value>
            </setting>
            <setting name="Check_sutherlandsmbpov_toolCreatingIncident_ServiceNow_u_sgs_tool_creating_incident"
                serializeAs="String">
                <value>https://sutherlandsmbpov.service-now.com/u_sgs_tool_creating_incident.do?SOAP</value>
            </setting>
        </Check.Properties.Settings>
    </applicationSettings>
</configuration>
